{%- comment -%}
  This snippet renders a date picker.

  Parameters:
  - section_type: the section type where the date picker is included (e.g. 'hero')

  Required parameters:
  - section_type

  Usage:

  {%- render 'date-picker',
      section_type: section.type
  -%}
{%- endcomment -%}

<div class="{{- section_type -}}__date-picker date-picker">
  <div class="date-picker__component">
    <bq-date-picker version="next"></bq-date-picker>
  </div>
</div>
