@use '../variables' as *;
@use 'sass:map';

// Breakpoint map for easier iteration
$breakpoints: (
  xxs: $breakpoint-xxs,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl
);

// Media query mixins
@mixin media-up($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @media (min-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin media-down($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map.get($breakpoints, $breakpoint) - 1px}) {
      @content;
    }
  } @else {
    @media (max-width: #{$breakpoint - 1px}) {
      @content;
    }
  }
}

@mixin media-between($lower, $upper) {
  $min: null;
  $max: null;

  @if map.has-key($breakpoints, $lower) {
    $min: map.get($breakpoints, $lower);
  } @else {
    $min: $lower;
  }

  @if map.has-key($breakpoints, $upper) {
    $max: map.get($breakpoints, $upper) - 1px;
  } @else {
    $max: $upper - 1px;
  }

  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

@mixin media-only($breakpoint) {
  @if $breakpoint == xs {
    @include media-down(sm) {
      @content;
    }
  } @else if $breakpoint == sm {
    @include media-between(sm, md) {
      @content;
    }
  } @else if $breakpoint == md {
    @include media-between(md, lg) {
      @content;
    }
  } @else if $breakpoint == lg {
    @include media-between(lg, xl) {
      @content;
    }
  } @else if $breakpoint == xl {
    @include media-between(xl, xxl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @include media-up(xxl) {
      @content;
    }
  }
}

// Height-based media query mixins
@mixin height-up($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-height: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @media (min-height: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin height-down($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-height: #{map.get($breakpoints, $breakpoint) - 1px}) {
      @content;
    }
  } @else {
    @media (max-height: #{$breakpoint - 1px}) {
      @content;
    }
  }
}

@mixin height-between($lower, $upper) {
  $min: null;
  $max: null;

  @if map.has-key($breakpoints, $lower) {
    $min: map.get($breakpoints, $lower);
  } @else {
    $min: $lower;
  }

  @if map.has-key($breakpoints, $upper) {
    $max: map.get($breakpoints, $upper) - 1px;
  } @else {
    $max: $upper - 1px;
  }

  @media (min-height: #{$min}) and (max-height: #{$max}) {
    @content;
  }
}

// Hover mixin using :hover pseudo-class
@mixin hover {
  &:hover {
    @content;
  }
}

// Reduced motion mixin for accessibility
@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

// Flexbox mixin
@mixin flexbox($align: null, $justify: null, $direction: null, $wrap: null, $gap: null) {
  display: flex;

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $gap {
    gap: $gap;
  }
}
