// Import variables
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

html {
  &:has(#header-opener-menu:checked),
  &:has(#header-opener-search:checked) {
    @include media-down(md) {
      overflow: clip;
    }
  }
}

body {
  --overlay-transition-duration: #{$transition-duration};
  --overlay-transition-delay: 50ms;
  --overlay-visibility: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: $background-shadow;
    visibility: var(--overlay-visibility);
    transition: visibility var(--overlay-transition-duration) var(--overlay-transition-delay) $transition-function;
  }

  &:has(#header-opener-menu:checked),
  &:has(#header-opener-search:checked) {
    @include media-down(md) {
      overflow: clip;
    }

    &::before {
      --overlay-transition-duration: 0s;
      --overlay-transition-delay: 0s;
      --overlay-visibility: visible;
    }
  }

  &:has(.menu__item.has-dropdown.active),
  &:has(.menu__item.has-dropdown:hover) {
    /* stylelint-disable-next-line */
    &::before {
      --overlay-transition-duration: 0s;
      --overlay-transition-delay: 0s;
      --overlay-visibility: visible;
    }
  }

  /* Add spacing at the top of sections if the header is transparent */
  &:not(:has(.header__inner--filled)) {
    #main {
      > section {
        &:first-child {
          > [class*="--padding-top"] {
            --section-padding-top: calc(var(--padding-top-mobile, 20px) + #{$header-height} - var(--top-bar-height, 0px));

            @include media-up(md) {
              --section-padding-top: calc(var(--padding-top-desktop, 40px) + #{$header-height} - var(--top-bar-height, 0px));
            }
          }
        }
      }
    }
  }
}

#main {
  > section {
    /* Stretch the only section to the footer */
    &:last-child {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      /* stylelint-disable-next-line */
      > [class*="__wrapper"],
      > [class^="__wrapper"] {
        flex-grow: 1;
      }
    }
  }

  /* Don't stretch the only section to the bottom in the preview section app */
  &:has(section:only-child) {
    .preview-app & {
      display: block;
    }
  }

  .header:not(&:has(.header__inner--filled)) & {
    margin-top: $preview-height;
  }
}
