<section>
  <h1>Trailer rentals
for every occasion</h1>
</section>

{% schema %}
{
  "name": "Example",
  "settings": [

  ],
  "blocks": [
    {
      "type": "block-id",
      "name": "Text Block",
      "settings": [
        {
          "type": "text",
          "id": "text_content",
          "label": "Text Content"
        }
      ]
    }
  ]
}
{% endschema %}
