// Button component styles
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

.btn {
  --button-animation-delay: 5s;
  --button-background: none;
  --button-border-color: transparent;
  --button-indent: 0;
  --button-margin: #{$button-padding-y} 0;
  --button-width: #{$button-width-fw};

  font-family: $font-family-body;
  font-size: $font-size-button;
  font-weight: $font-weight-button;
  white-space: nowrap;
  width: var(--button-width);
  margin: var(--button-margin);
  padding: var(--button-indent);
  background: var(--button-background);
  text-decoration: none;
  border: 1px solid var(--button-border-color);
  border-radius: $button-border-radius;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: $font-height-sm;
  transition: all $transition-duration $transition-function;

  &--primary {
    --button-background: #{$background-accent};
    --button-border-color: #{$background-accent};
    --button-color: #{$color-accent};
    --button-indent: #{$button-padding-y} #{$button-padding-x};
    --button-margin: 0;

    color: var(--button-color);

    @include hover {
      --button-color: #{$color-accent};

      opacity: $button-hover-opacity;
    }
  }

  &--outlined {
    --button-background: transparent;
    --button-border-color: #{$color-outline};
    --button-color: #{$color-outline};
    --button-indent: #{$button-padding-y} #{$button-padding-x};
    --button-margin: 0;

    color: var(--button-color);

    @include hover {
      opacity: $button-hover-opacity;
    }
  }

  svg {
    margin-left: 10px;
    transform: translateX(0) rotate(-90deg);
    animation: bounce 5.6s var(--button-animation-delay) $transition-function infinite;
  }

  path {
    stroke: currentcolor;
  }

  &:hover {
    svg {
      --button-animation-delay: 1s;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0) rotate(-90deg);
  }

  3.2% {
    transform: translateX(8px) rotate(-90deg);
  }

  5.36% {
    transform: translateX(3px) rotate(-90deg);
  }

  7.5% {
    transform: translateX(8px) rotate(-90deg);
  }

  11%, 100% {
    transform: translateX(0) rotate(-90deg);
  }
}

[class*="__btn-wrapper"] {
  --btn-wrapper-display: flex;

  display: var(--btn-wrapper-display);
  vertical-align: top;

  @include media-up(xs) {
    --btn-wrapper-display: inline-flex;
  }
}
