// Button component styles
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

:root {
  --btn-wrapper-display: flex;
  --button-width: #{$button-width-fw};

  @include media-up(xs) {
    --btn-wrapper-display: inline-flex;
    --button-width: auto;
  }
}

.btn {
  --button-arrow-animation: bounce 5.6s var(--button-arrow-animation-delay) #{$transition-function} infinite;
  --button-arrow-animation-delay: 5s;
  --button-arrow-indent: 0 0 0 10px;
  --button-arrow-transform: translateX(0);
  --button-background: none;
  --button-border-color: transparent;
  --button-indent: 0;
  --button-margin: #{$button-padding-y} 0;

  font-family: $font-family-body;
  font-size: $font-size-button;
  font-weight: $font-weight-button;
  white-space: nowrap;
  width: var(--button-width);
  margin: var(--button-margin);
  padding: var(--button-indent);
  background: var(--button-background);
  text-decoration: none;
  border: 1px solid var(--button-border-color);
  border-radius: $button-border-radius;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: $font-height-sm;
  transition: all $transition-duration $transition-function;

  &--primary {
    --button-background: #{$background-accent};
    --button-border-color: #{$background-accent};
    --button-color: #{$color-accent};
    --button-indent: #{$button-padding-y} #{$button-padding-x};
    --button-margin: 0;

    color: var(--button-color);

    @include hover {
      --button-color: #{$color-accent};

      opacity: $button-hover-opacity;
    }
  }

  &--outlined {
    --button-background: transparent;
    --button-border-color: #{$color-outline};
    --button-color: #{$color-outline};
    --button-indent: #{$button-padding-y} #{$button-padding-x};
    --button-margin: 0;

    color: var(--button-color);

    @include hover {
      opacity: $button-hover-opacity;
    }
  }

  svg {
    animation: var(--button-arrow-animation);
    margin: var(--button-arrow-indent);
    transform: var(--button-arrow-transform);
  }

  path {
    fill: currentcolor;
  }

  &:hover {
    svg {
      --button-arrow-animation-delay: 1s;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  3.2% {
    transform: translateX(8px);
  }

  5.36% {
    transform: translateX(3px);
  }

  7.5% {
    transform: translateX(8px);
  }

  11%, 100% {
    transform: translateX(0);
  }
}

[class*="__btn-wrapper"] {
  width: var(--button-width);
  display: var(--btn-wrapper-display);
  vertical-align: top;
}

[class*="__buttons"] {
  width: var(--button-width);
}
