// Import variables
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

.menu {
  --menu-display: flex;
  --menu-dropdown-events: none;
  --menu-dropdown-height: calc(100vh - #{$header-height});
  --menu-dropdown-item-display: grid;
  --menu-dropdown-left: auto;
  --menu-dropdown-link-display: flex;
  --menu-dropdown-link-indent: 0;
  --menu-dropdown-link-padding: 16px var(--menu-dropdown-link-indent) 16px 0;
  --menu-dropdown-position: fixed;
  --menu-dropdown-right: 0;
  --menu-dropdown-top: 0;
  --menu-dropdown-transform: translateX(100%);
  --menu-dropdown-width: 100%;
  --menu-dropdown-opener-display: flex;
  --menu-dropdown-opener-height: #{$button-height};
  --menu-dropdown-opener-position: center;
  --menu-dropdown-opener-transform: rotate(90deg);
  --menu-dropdown-opener-weight: inherit;
  --menu-dropdown-opener-width: #{$button-width};
  --menu-dropdown-wrapper-height: 100%;
  --menu-dropdown-wrapper-margin: 0;
  --menu-dropdown-wrapper-max-height: calc(100vh - $header-height);
  --menu-dropdown-wrapper-overflow: clip auto;
  --menu-dropdown-wrapper-padding: 25px #{$horizontal-padding-mobile} 50px;
  --menu-dropdown-wrapper-position: absolute;
  --menu-dropdown-wrapper-transform: translateX(100%);
  --menu-dropdown-wrapper-width: 100vw;
  --menu-opener-color: currentcolor;
  // --menu-horizontal-position: flex-end;
  --menu-item-cursor: default;
  --menu-item-icon-transform: rotate(-90deg);
  --menu-item-icon-margin: 0;
  // --menu-link-indent: 0;
  // --menu-list-margin: 0 auto;
  // --menu-list-overflow: clip auto;
  // --menu-list-padding: 0;
  // --menu-list-width: 100%;
  // --menu-margin-bottom: var(--padding-bottom-mobile, 12px);
  // --menu-margin-top: var(--padding-top-mobile, 12px);
  // --menu-nav-delay: 50ms;
  // --menu-nav-duration: #{$transition-duration};
  // --menu-nav-events: none;
  // --menu-nav-height: calc(100vh - #{$header-height});
  // --menu-nav-overflow: clip auto;
  // --menu-nav-visibility: hidden;
  // --menu-nav-width: 100%;
  // --menu-opener-display: flex;
  // --menu-opener-icon-left: 27%;
  // --menu-opener-icon-right: 27%;
  // --menu-opener-icon-top: 50%;
  // --menu-opener-icon-transform: translate(0, -50%);
  // --menu-wrapper-background: #{$background-primary};
  // --menu-wrapper-flex-direction: column;
  // --menu-wrapper-overflow: clip;
  // --menu-wrapper-padding: #{$horizontal-padding-mobile};
  // --menu-wrapper-position: absolute;
  // --menu-wrapper-transform: translateY(-100%);
  // --menu-wrapper-width: 100vw;

  display: var(--menu-display);
  align-items: center;

  @include media-up(md) {
    --menu-display: block;
    --menu-dropdown-item-display: block;
    --menu-dropdown-position: absolute;
    --menu-dropdown-top: calc(100% + 1px);
    --menu-dropdown-width: 100vw;
    --menu-dropdown-height: auto;
    --menu-dropdown-left: 50%;
    --menu-dropdown-link-display: inline-block;
    --menu-dropdown-link-padding: 0;
    --menu-dropdown-right: auto;
    --menu-dropdown-transform: translateX(-50%);
    --menu-dropdown-item-margin: 0;
    --menu-dropdown-opener-height: auto;
    --menu-dropdown-opener-width: auto;
    --menu-dropdown-list-display: grid;
    --menu-dropdown-list-gap: 20px;
    --menu-dropdown-list-padding: #{$horizontal-padding-mobile};
    --menu-dropdown-wrapper-height: auto;
    --menu-dropdown-wrapper-margin: 0 auto;
    --menu-dropdown-wrapper-overflow: auto;
    --menu-dropdown-wrapper-padding: 0;
    --menu-dropdown-wrapper-position: static;
    --menu-dropdown-wrapper-transform: translateY(-100%);
    --menu-dropdown-wrapper-width: 100%;
    // --menu-horizontal-position: var(--menu-horizontal-position-desktop, center);
    // --menu-item-gap: 0 40px;
    // --menu-list-overflow: inherit;
    // --menu-list-margin: calc(-1 * var(--menu-margin-top)) var(--menu-margin-x-desktop) calc(-1 * var(--menu-margin-bottom));
    // --menu-list-width: calc(100% + -1 * var(--menu-margin-x-desktop, 0) * 2);
    // --menu-margin-bottom: var(--padding-bottom-desktop, 12px);
    // --menu-margin-top: var(--padding-top-desktop, 12px);
    // --menu-nav-delay: 0s;
    // --menu-nav-duration: 0s;
    // --menu-nav-events: all;
    // --menu-nav-height: 100%;
    // --menu-nav-overflow: inherit;
    // --menu-nav-visibility: visible;
    // --menu-nav-width: auto;
    // --menu-opener-display: none;
    // --menu-wrapper-background: none;
    // --menu-wrapper-flex-direction: row;
    // --menu-wrapper-overflow: inherit;
    // --menu-wrapper-padding: 0;
    // --menu-wrapper-position: static;
    // --menu-wrapper-transform: translateY(0);
    // --menu-wrapper-width: 100%;
  }

  @include media-up(xl) {
    --menu-dropdown-list-padding: 25px #{$horizontal-padding};
  }

  path {
    stroke: var(--menu-opener-color);
    stroke-width: 1;
    transition: stroke $transition-duration $transition-function;
  }

  &__opener {
    // height: $button-height;
    // width: $button-width;
    // border-radius: $button-border-radius;
    @include flexbox($align: center);
    // display: var(--menu-opener-display);
    // align-items: center;
    // background: $button-background;
    // position: relative;
    cursor: pointer;

    // & span,
    // &::before,
    // &::after {
    //   background: var(--menu-opener-color);
    //   position: absolute;
    //   top: var(--menu-opener-icon-top);
    //   left: var(--menu-opener-icon-left);
    //   right: var(--menu-opener-icon-right);
    //   height: 2px;
    //   transform: var(--menu-opener-icon-transform);
    //   transition: all $transition-duration $transition-function;
    //   pointer-events: none;
    // }

    // span {
    //   #header-opener-menu:checked ~ & {
    //     opacity: 0;
    //   }
    // }

    // &::before {
    //   --menu-opener-icon-top: calc(50% - 6px);
    //   --menu-opener-icon-transform: translate(0, 0);

    //   content: "";

    //   #header-opener-menu:checked ~ & {
    //     --menu-opener-icon-transform: rotate(45deg);
    //     --menu-opener-icon-top: 50%;
    //     --menu-opener-icon-left: 23%;
    //     --menu-opener-icon-right: 23%;
    //   }
    // }

    // &::after {
    //   --menu-opener-icon-top: calc(50% + 4px);
    //   --menu-opener-icon-transform: translate(0, 0);

    //   content: "";

    //   #header-opener-menu:checked ~ & {
    //     --menu-opener-icon-transform: rotate(-45deg);
    //     --menu-opener-icon-top: 50%;
    //     --menu-opener-icon-left: 23%;
    //     --menu-opener-icon-right: 23%;
    //   }
    // }

    // @include hover {
    //   &::before,
    //   &::after,
    //   span {
    //     --menu-opener-color: #{$color-outline};
    //   }
    // }
  }

  &__wrapper {
  //   position: var(--menu-wrapper-position);
  //   width: var(--menu-wrapper-width);
  //   min-height: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  //   transform: var(--menu-wrapper-transform);
    transition: transform $transition-duration $transition-function;
  //   display: flex;
  //   flex-direction: var(--menu-wrapper-flex-direction);
  //   justify-content: space-between;
  //   overflow: var(--menu-wrapper-overflow);
    color: $color-primary;
  //   padding: var(--menu-wrapper-padding);
  //   background: var(--menu-wrapper-background);

  //   @include media-up(md) {
  //     height: 100%;
  //   }

  //   > {
  //     span, ul, div {
  //       /* stylelint-disable-next-line */
  //       &:not(:only-child){
  //         padding: 0 0 50px;

  //         @include media-up(md) {
  //           padding: 0;
  //         }
  //       }
  //     }
  //   }
  }

  &__nav {
  //   position: var(--menu-wrapper-position);
  //   height: var(--menu-nav-height);
  //   width: var(--menu-nav-width);
  //   top: $header-height;
  //   left: 0;
  //   overflow: var(--menu-nav-overflow);
  //   pointer-events: var(--menu-nav-events);
  //   visibility: var(--menu-nav-visibility);
  //   transition: visibility var(--menu-nav-duration) $transition-function var(--menu-nav-delay);
  //   font-weight: $font-weight-regular;
    display: block !important;

  //   .scrolled & {
  //     @include media-down(md) {
  //       --menu-nav-height: calc(100vh - #{$header-height} + var(--top-bar-height, 0));
  //     }
  // }

  //   #header-opener-menu:checked ~ & {
  //     --menu-nav-events: all;
  //     --menu-nav-visibility: visible;
  //     --menu-nav-duration: 0s;
  //     --menu-nav-delay: 0s;

  //     .menu__wrapper {
  //       --menu-wrapper-transform: translateY(0);
  //     }
  //   }
  }

  &__list {
    list-style-type: none;
    // position: relative;
    // max-width: $max-width;
    // height: auto;
    // width: var(--menu-list-width);
    // overflow: var(--menu-list-overflow);
    // margin: var(--menu-list-margin);
    // padding: var(--menu-list-padding);
    // flex: 1 1 auto;

    // @include media-up(md) {
    //   @include flexbox($align: center, $justify: var(--menu-horizontal-position), $gap: var(--menu-item-gap));
    // }

    // &:not(:only-child) {
    //   --menu-list-padding: 0 0 50px;
    // }
  }

  &__link {
    font-size: clamp(14px, calc($font-size-base - 2px), 20px);
    // font-size: inherit;
    font-weight: $font-weight-bold;
    line-height: $font-height-lg;
    padding: 16px 0;
    grid-area: item-1;
    z-index: 1;
    position: relative;

    @include media-up(md) {
      padding: 0;
    }

    // .has-dropdown & {
    //   --menu-link-indent: 16px;

    //   @include media-up(md) {
    //     --menu-link-indent: 5px;
    //   }

    //   @include media-up(xl) {
    //     --menu-link-indent: 10px;
    //   }
    // }
  }

  &__dropdown {
    position: var(--menu-dropdown-position);
    top: var(--menu-dropdown-top);
    left: var(--menu-dropdown-left);
    right: var(--menu-dropdown-right);
    width: var(--menu-dropdown-width);
    height: var(--menu-dropdown-height);
    margin: 0;
    transform: var(--menu-dropdown-transform);
    transition: transform $transition-duration $transition-function;
    overflow: clip;
    pointer-events: var(--menu-dropdown-events);
    display: block !important;
    z-index: 2;

    .scrolled & {
      @include media-down(md) {
        --menu-dropdown-height: calc(100vh - #{$header-height} + var(--top-bar-height, 0));
      }
    }

    &-list {
      max-width: $max-width;
      margin: var(--menu-dropdown-wrapper-margin);

      @include media-up(md) {
        padding: var(--menu-dropdown-list-padding);
        display: var(--menu-dropdown-list-display);
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: var(--menu-dropdown-list-gap);
      }

      #{&} {
        @include media-up(md) {
          --menu-dropdown-list-display: block;
          --menu-dropdown-list-padding: 0;
          --menu-dropdown-list-gap: 0;
        }

        @include media-up(xl) {
          --menu-dropdown-list-padding: 0;
        }
      }
    }

    &-item {
      display: var(--menu-dropdown-item-display);
      grid-template-columns: 1fr min-content;
      grid-template-areas: "drop-1 item-2";
      align-items: center;
      margin: var(--menu-dropdown-item-margin);
      padding: 0;

      #{&} {
        @include media-up(md) {
          --menu-dropdown-item-margin: 8px 0;
        }
      }
    }

    &-link {
      display: var(--menu-dropdown-link-display);
      align-items: center;
      justify-content: space-between;
      grid-area: drop-1;
      padding: var(--menu-dropdown-link-padding);
      line-height: $font-height-lg;

      @include media-up(md) {
        vertical-align: top;
      }

      .has-dropdown & {
        --menu-dropdown-link-indent: #{$horizontal-padding-mobile};
      }
    }

    &-opener {
      height: var(--menu-dropdown-opener-height);
      width: var(--menu-dropdown-opener-width);
      max-width: $max-width;
      display: var(--menu-dropdown-opener-display);
      align-items: center;
      justify-content: var(--menu-dropdown-opener-position);
      font-weight: var(--menu-dropdown-opener-weight);
      cursor: pointer;
      transition: all $transition-duration $transition-function;
      font-size: 18px;
      grid-area: item-2;
      position: relative;
      margin: 0 auto;
      z-index: 1;
      color: var(--menu-opener-color);

      @include media-up(md) {
        transform: var(--menu-dropdown-opener-transform);
      }

      @include hover {
        --menu-opener-color: #{$color-outline};
      }

      path {
        @include hover {
          --menu-opener-color: #{$color-outline};
        }
      }
    }

    &-wrapper {
      position: var(--menu-dropdown-wrapper-position);
      top: 0;
      left: 0;
      width: var(--menu-dropdown-wrapper-width);
      height: var(--menu-dropdown-wrapper-height);
      max-height: var(--menu-dropdown-wrapper-max-height);
      padding: var(--menu-dropdown-wrapper-padding);
      background: $background-primary;
      overflow: var(--menu-dropdown-wrapper-overflow);
      transform: var(--menu-dropdown-wrapper-transform);
      transition: transform $transition-duration $transition-function;
      border-bottom: 1px solid $color-border;

      .scrolled & {
        @include media-up(md) {
          --menu-dropdown-wrapper-max-height: calc(100vh - #{$header-height} + var(--top-bar-height, 0));
        }
      }
    }

    #{&} {
      --menu-dropdown-transform: translateX(100%);

      @include media-up(md) {
        --menu-dropdown-position: static;
        --menu-dropdown-transform: translateX(0);
        --menu-dropdown-width: 100%;
      }

      &-wrapper {
        .menu {
          &__dropdown {
            &-wrapper {
              @include media-up(md) {
                --menu-dropdown-wrapper-transform: none;

                border-color: transparent;
              }
            }

            &-link {
              .has-dropdown & {
                @include media-up(md) {
                  --menu-dropdown-link-indent: 0;
                }
              }
            }

            &-opener {
              @include media-up(md) {
                --menu-dropdown-opener-display: none;
              }
            }
          }
        }
      }
    }

    > #{&} {
      &-wrapper {
        > .menu__dropdown-opener {
          --menu-dropdown-opener-position: flex-start;
          --menu-dropdown-opener-weight: #{$font-weight-semibold};
          --menu-dropdown-opener-width: auto;

          .menu__item-icon {
            --menu-item-icon-transform: rotate(90deg);
            --menu-item-icon-margin: 0 10px -1px 0;
          }
        }

        [id^="header-dropdown-trigger-menu"]:checked ~ &,
        [id*="header-dropdown-trigger-menu"]:checked ~ & {
          --menu-dropdown-wrapper-transform: translateX(0);
        }

        [id^="header-dropdown-trigger-childmenu"]:checked ~ &,
        [id*="header-dropdown-trigger-childmenu"]:checked ~ & {
          --menu-dropdown-wrapper-transform: translateX(0);
          --menu-dropdown-wrapper-overflow: clip auto;
        }
      }
    }

    [id^="header-dropdown-trigger-childmenu"]:checked ~ &,
    [id*="header-dropdown-trigger-childmenu"]:checked ~ &,
    [id^="header-dropdown-trigger-menu"]:checked ~ &,
    [id*="header-dropdown-trigger-menu"]:checked ~ & {
      --menu-dropdown-transform: translateX(0);
      --menu-dropdown-events: all;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "item-1 item-2";
    align-items: center;
    cursor: var(--menu-item-cursor);

    @include media-up(md) {
      height: 100%;
    }

    &-icon {
      @include flexbox($align: center, $justify: center);

      margin: var(--menu-item-icon-margin);
      transform: var(--menu-item-icon-transform);
      transition: transform $transition-duration $transition-function;
      pointer-events: none;
    }

    &:hover,
    &.active {
      --menu-item-cursor: pointer;

      .menu {
        &__link {
          @include media-up(md) {
            color: $color-outline;
          }
        }

        &__dropdown {
          @include media-up(md) {
            --menu-dropdown-events: all;
          }

          &-wrapper {
            @include media-up(md) {
              --menu-dropdown-wrapper-transform: translateY(0);
            }
          }

          &-opener {
            @include media-up(md) {
              --menu-dropdown-opener-transform: rotate(270deg);
            }

            path {
              @include media-up(md) {
                --menu-opener-color: #{$color-outline};
              }
            }
          }
        }
      }
    }
  }

  // &:has([id^="header-dropdown-trigger-menu"]:checked),
  // &:has([id*="header-dropdown-trigger-menu"]:checked) {
  //   /* stylelint-disable-next-line */
  //   .menu__nav {
  //     --menu-nav-overflow: clip;
  //   }
  // }

  &:has([id^="header-dropdown-trigger-childmenu"]:checked),
  &:has([id*="header-dropdown-trigger-childmenu"]:checked) {
    .menu__item {
      > .menu__dropdown {
        > .menu__dropdown-wrapper {
          --menu-dropdown-wrapper-overflow: clip;
        }
      }
    }
  }

  .header__btn-wrapper {
    display: var(--menu-display);

    @include media-up(md) {
      --menu-display: none;
    }
  }

  .social-networks {
    @include media-up(md) {
      display: none;
    }
  }
}
