// Import variables
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

.menu {
  --menu-display: flex;
  --menu-dropdown-opener-height: #{$button-height-xs};
  --menu-dropdown-opener-weight: inherit;
  --menu-dropdown-opener-width: #{$button-width-xs};
  --menu-opener-color: currentcolor;

  display: var(--menu-display);
  align-items: center;

  @include media-up(md) {
    --menu-display: block;
    --menu-dropdown-opener-height: auto;
    --menu-dropdown-opener-width: auto;
  }

  path {
    stroke: var(--menu-opener-color);
    stroke-width: 1;
    transition: stroke $transition-duration $transition-function;
  }

  &__opener {
    @include flexbox($align: center);

    cursor: pointer;
  }

  &__wrapper {
    transition: transform $transition-duration $transition-function;
    color: $color-primary;
  }

  &__nav {
    display: block !important;
  }

  &__list {
    list-style-type: none;
  }

  &__link {
    font-size: clamp(14px, calc($font-size-base - 2px), 20px);
    font-weight: $font-weight-bold;
    line-height: $font-height-lg;
    padding: 4px 0;
    grid-area: item-1;
    z-index: 1;
    position: relative;

    @include media-up(md) {
      padding: 0;
    }
  }

  &__dropdown {
    margin: 0;
    transition: transform $transition-duration $transition-function;
    overflow: clip;
    display: block !important;

    &-item {
      @include grid(
        $columns: 1fr min-content,
        $areas: 'drop-1 item-2',
        $align: center
      );

      padding: 0;
    }

    &-link {
      @include flexbox($align: center, $justify: space-between);

      grid-area: drop-1;
      padding: 4px 0;
      line-height: $font-height-lg;

      @include media-up(md) {
        vertical-align: top;
      }
    }

    &-opener {
      @include flexbox($align: center, $justify: center);

      height: var(--menu-dropdown-opener-height);
      width: var(--menu-dropdown-opener-width);
      font-weight: var(--menu-dropdown-opener-weight);
      cursor: pointer;
      transition: all $transition-duration $transition-function;
      font-size: 18px;
      grid-area: item-2;
      position: relative;
      margin: 0 auto;
      z-index: 1;
      color: var(--menu-opener-color);

      @include hover {
        --menu-opener-color: #{$color-outline};
      }

      path {
        @include hover {
          --menu-opener-color: #{$color-outline};
        }
      }
    }

    &-wrapper {
      transition: transform $transition-duration $transition-function;
    }

    > #{&} {
      &-wrapper {
        > .menu__dropdown-opener {
          --menu-dropdown-opener-weight: #{$font-weight-semibold};
          --menu-dropdown-opener-width: auto;
        }
      }
    }
  }

  &__item {
    padding: 0 0 10px;

    &-icon {
      @include flexbox($align: center, $justify: center);

      transition: transform $transition-duration $transition-function;
      pointer-events: none;
    }

    &:hover,
    &.active {
      .menu {
        &__dropdown {
          &-opener {
            path {
              @include media-up(md) {
                --menu-opener-color: #{$color-outline};
              }
            }
          }
        }
      }
    }
  }
}
