// Import variables
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

.social-networks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * $social-icon-spacing) calc(-1 * $social-icon-spacing);
  font-size: $social-size;

  &__item {
    margin: 0 $social-icon-spacing $social-icon-spacing;
  }

  &__link {
    @include flexbox(
      $align: center,
      $justify: center
    );

    width: $button-width-xs;
    height: $button-height-xs;
    border-radius: $button-border-radius;
    background: $button-background;

    @include hover {
      opacity: 1;
    }
  }
}
