// Import variables
@use '../variables' as *;

// Import mixins
@use '../_helpers/mixins' as *;

.social-networks {
  $social-size: var(--social-size);
  $social-icon-spacing: var(--social-icon-spacing);

  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * $social-icon-spacing) calc(-1 * $social-icon-spacing);
  font-size: $social-size;

  @include media-up(md) {
    justify-content: flex-end;
  }

  &__item {
    margin: 0 $social-icon-spacing $social-icon-spacing;
  }

  &__link {
    @include hover {
      opacity: 1;
    }
  }
}
