// Theme Variables

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

// Colors
$background-accent: var(--background-accent);
$background-primary: var(--background-primary, #fff);
$background-shadow: color-mix(in srgb, var(--color-primary) 55%, transparent);
$color-accent: var(--color-accent);
$color-border: color-mix(in srgb, var(--color-primary) 15%, transparent);
$color-outline: var(--color-outline);
$color-placeholder: color-mix(in srgb, var(--color-primary) 50%, transparent);
$color-primary: var(--color-primary, #000);
$color-secondary: var(--color-secondary);

// Fonts
$font-family-body: var(--font-body);
$font-family-heading: var(--font-heading);
$font-family-tagline: var(--font-tagline);

// Sizes
$font-size-base: var(--font-size-base);
$font-size-button: var(--font-size-button);
$font-size-h1: var(--font-size-h1);
$font-size-h2: var(--font-size-h2);
$font-size-h3: var(--font-size-h3);
$font-size-h4: var(--font-size-h4);
$font-size-h5: var(--font-size-h5);
$font-size-h6: var(--font-size-h6);
$font-size-tagline: var(--font-size-tagline);
$header-height: var(--header-height);
$horizontal-padding: 80px;
$horizontal-padding-mobile: 16px;
$max-width: 1920px;

// Line heights
$font-height-xs: 1;
$font-height-sm: 1.25;
$font-height-md: 1.3333;
$font-height-lg: 1.4;
$font-height-xl: 1.5;

// Weights
$font-weight-button: var(--font-weight-button);
$font-weight-h1: var(--font-weight-h1);
$font-weight-h2: var(--font-weight-h2);
$font-weight-h3: var(--font-weight-h3);
$font-weight-headers: var(--font-weight-headers);
$font-weight-light: var(--font-weight-light);
$font-weight-regular: var(--font-weight-regular);
$font-weight-medium: var(--font-weight-medium);
$font-weight-semibold: var(--font-weight-semibold);
$font-weight-bold: var(--font-weight-bold);
$font-weight-extrabold: var(--font-weight-extrabold);

// Border radius
$border-radius: var(--border-radius);

// Buttons
$button-border-radius: var(--button-border-radius);
$button-background: color-mix(in srgb, var(--color-primary) 15%, transparent);
$button-padding: var(--button-padding);
$button-height: var(--button-height);
$button-width: var(--button-width);

// Transition
$transition-duration: var(--transition-duration);
$transition-function: var(--transition-function);
