// Import variables
@use 'variables' as *;

// Import mixins
@use '_helpers/mixins' as *;

// Import components
@use '_components/accordion' as *;

.about {
  --about-accordion-icon-opacity: 1;
  --about-accordion-icon-size: 14px;
  --about-accordion-icon-transform: ;
  --about-accordion-item-indent: 32px;
  --about-accordion-item-line-bottom: 50%;
  --about-accordion-item-line-top: 50%;
  --about-accordion-item-margin-right: 0;
  --about-accordion-item-margin-top: 16px;
  --about-accordion-text-indent: 16px;
  --about-accordion-text-template-rows: 0fr;
  --about-border-radius: 0;
  --about-btn-gap: 0;
  --about-btn-margin-top: 16px;
  --about-buttons-direction: column;
  --about-buttons-margin-top: 32px;
  --about-col-display: flex;
  --about-col-direction: column;
  --about-col-first-width: 100%;
  --about-col-gap: 46px;
  --about-col-indent-x-mobile: 16px;
  --about-col-indent-x-desktop: 40px;
  --about-col-last-width: 100%;
  --about-col-padding-left: 0;
  --about-col-padding-right: 0;
  --about-description-margin-top: 40px;
  --about-heading-margin-top: 20px;
  --about-highlight-content-background: transparent;
  --about-highlight-content-border-radius: 0;
  --about-highlight-content-padding: 0;
  --about-highlight-margin-top: 24px;
  --about-highlight-wrapper-columns: 1fr;
  --about-highlight-wrapper-gap: 16px;
  --about-tagline-margin-top: 20px;

  @include media-up(xs) {
    --about-btn-gap: 16px;
    --about-buttons-direction: row;
  }

  @include media-up(md) {
    --about-btn-gap: 24px;
    --about-btn-margin-top: 46px;
    --about-col-direction: row;
    --about-highlight-margin-top: 40px;
    --about-highlight-wrapper-gap: 24px;
  }

  @include media-up(lg) {
    --about-highlight-wrapper-columns: repeat(2, 1fr);
  }

  &__wrapper {
    --about-content-justify: var(--about-content-horizontal-alignment, flex-start);
    --about-content-text-justify: var(--about-content-text-horizontal-alignment, left);
    --section-padding-bottom: var(--padding-bottom-mobile, 16px);
    --section-padding-top: var(--padding-top-mobile, 16px);

    position: relative;
    color: $color-primary;
    background: $background-primary;
    border-radius: var(--about-border-radius);
    text-align: var(--about-content-text-justify);

    @include media-up(md) {
      --section-padding-bottom: var(--padding-bottom-desktop, 40px);
      --section-padding-top: var(--padding-top-desktop, 40px);
    }

    &--padding-top {
      &:not(:empty) {
        padding-top: var(--section-padding-top);
      }
    }

    &--padding-bottom {
      &:not(:empty) {
        padding-bottom: var(--section-padding-bottom);
      }
    }

    .about__container & {
      --about-border-radius: #{$border-radius-block};

      @include media-up(md) {
        --about-col-gap: 0;
      }
    }

    &[style*="--about-highlight-content-direction: row"] {
      --about-highlight-content-border-radius: #{$border-radius-block};
      --about-highlight-content-background: #{$color-border};
      --about-highlight-content-padding: 16px;
      --about-highlight-wrapper-columns: repeat(2, 1fr);

      @include media-up(md) {
        --about-highlight-content-padding: 24px;
      }
    }
  }

  &__heading {
    margin: var(--about-heading-margin-top) 0 0;

    &:first-child {
      --about-heading-margin-top: 0;
    }
  }

  &__tagline {
    margin: var(--about-tagline-margin-top) 0 0;

    &:first-child {
      --about-tagline-margin-top: 0;
    }
  }

  &__description {
    &:not(:first-child) {
      margin-top: var(--about-description-margin-top);
    }

    * {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .about__heading + & {
      --about-description-margin-top: 24px;
    }
  }

  &__buttons {
    --about-btn-margin-top: 16px;

    @include flexbox(
      $align: center,
      $direction: var(--about-buttons-direction),
      $gap: var(--about-btn-gap),
      $justify: var(--about-content-justify),
      $wrap: wrap
    );

    &:not(:first-child) {
      margin-top: var(--about-buttons-margin-top);
    }
  }

  &__btn {
    &-wrapper {
      &:not(:first-child) {
        margin-top: var(--about-btn-margin-top);
      }
    }
  }

  &__highlight {
    display: inline-block;
    vertical-align: top;
    margin-top: var(--about-highlight-margin-top);

    &-content {
      border-radius: var(--about-highlight-content-border-radius);
      background: var(--about-highlight-content-background);
      padding: var(--about-highlight-content-padding);
      height: 100%;
      width: 100%;
    }

    &-heading {
      margin-bottom: 12px;
    }

    &-text {
      line-height: $font-height-md;

      p {
        &:last-child {
          margin: 0;
        }
      }
    }

    &-wrapper {
      --about-highlight-margin-top: 0;

      @include grid(
        $columns: var(--about-highlight-wrapper-columns),
        $gap: var(--about-highlight-wrapper-gap)
      );

      margin-top: 40px;
      width: 100%;
    }

    &:first-child {
      .about__col > & {
        --about-highlight-margin-top: 0;
      }
    }
  }

  &__col {
    @include flexbox(
      $align: var(--about-content-justify),
      $direction: column
    );

    padding: 0 var(--about-col-padding-right) 0 var(--about-col-padding-left);

    &:first-child {
      width: var(--about-col-first-width);

      &:not(:empty) {
        @include media-up(md) {
          --about-col-first-width: 43%;
        }
      }

      &:not(:only-child) {
        .about__container > .about__wrapper & {
          @include media-up(lg) {
            margin: 0 var(--about-col-indent-x-desktop);
          }
        }
      }
    }

    /* stylelint-disable-next-line */
    &:last-child {
      width: var(--about-col-last-width);

      /* stylelint-disable-next-line */
      &:not(:empty) {
        @include media-up(md) {
          --about-col-last-width: 57%;
        }
      }
    }

    /* stylelint-disable-next-line */
    .about__container > .about__wrapper & {
      --about-col-padding-left: var(--about-col-indent-x-mobile);
      --about-col-padding-right: var(--about-col-indent-x-mobile);

      @include media-up(md) {
        --about-col-padding-left: var(--about-col-indent-x-desktop);
        --about-col-padding-right: var(--about-col-indent-x-desktop);
      }
    }
  }

  &__columns {
    @include flexbox(
      $align: center,
      $display: var(--about-col-display),
      $direction: var(--about-col-direction),
      $gap: var(--about-col-gap)
    );

    &:has(.about__col + .about__col:empty) {
      --about-col-display: block;

      .about__col:first-child:not(:empty) {
        @include media-up(md) {
          --about-col-first-width: 100%;
        }
      }

      .about__col:last-child:not(:empty) {
        @include media-up(md) {
          --about-col-last-width: 0;
        }
      }
    }

    &:has(.about__col:first-child:empty + .about__col) {
      --about-col-display: block;

      .about__col:first-child:not(:empty) {
        @include media-up(md) {
          --about-col-first-width: 0;
        }
      }

      .about__col:last-child:not(:empty) {
        @include media-up(md) {
          --about-col-last-width: 100%;
        }
      }
    }
  }

  &__image {
    &-holder {
      border-radius: $border-radius-block;
      overflow: clip;
    }
  }

  &-accordion {
    &__item {
      padding: var(--about-accordion-item-indent);
      margin: var(--about-accordion-item-margin-top) var(--about-accordion-item-margin-right) 0 0;
      border-bottom: 1px solid $color-border;
      position: relative;

      @include media-up(xl) {
        --about-accordion-item-margin-right: clamp(30px, 3.5vw, 80px);
      }

      &::before {
        content: "";
        position: absolute;
        top: var(--about-accordion-item-line-top);
        bottom: var(--about-accordion-item-line-bottom);
        left: 0;
        width: 2px;
        background: $background-accent;
        transition: all $transition-duration $transition-function;
      }

      &:has(:checked) {
        &::before {
          --about-accordion-item-line-top: var(--about-accordion-item-indent);
          --about-accordion-item-line-bottom: var(--about-accordion-item-indent);
        }
      }

      &:first-child {
        --about-accordion-item-margin-top: 0;
      }

      .about-accordion & {
        --about-accordion-item-margin-top: 0;
      }
    }

    &__trigger {
      display: none;
    }

    &__label {
      @include flexbox(
        $align: center
      );

      position: relative;
      color: currentcolor;
      cursor: pointer;
      font-weight: $font-weight-bold;
      font-size: $font-size-h4;
      padding: 0 0 var(--about-accordion-text-indent);
    }

    &__text {
      @include grid(
        $rows: var(--about-accordion-text-template-rows)
      );

      padding: var(--about-accordion-text-indent) 0 0;
      font-size: clamp(14px, calc(#{$font-size-base} - 2px), 20px);
      transition: grid-template-rows $transition-duration $transition-function,
        padding $transition-duration $transition-function;

      &-inner {
        overflow: hidden;
      }

      :checked ~ & {
        --about-accordion-text-template-rows: 1fr;
        --about-accordion-text-indent: 0;
      }
    }

    &__icon {
      position: absolute;
      top: 100%;
      left: 0;
      height: var(--about-accordion-icon-size);
      width: var(--about-accordion-icon-size);

      &-text {
        font-size: clamp(14px, calc(#{$font-size-base} - 2px), 18px);
        white-space: nowrap;
        position: absolute;
        left: 27px;
        top: 50%;
        opacity: var(--about-accordion-icon-opacity);
        transform: translate(0, -50%);
        transition: all $transition-duration $transition-function;

        :checked ~ [class*="__label"] & {
          --about-accordion-icon-opacity: 0;
        }
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 2px;
        width: var(--about-accordion-icon-size);
        opacity: var(--about-accordion-icon-opacity);
        background: $color-outline;
        transform: translate(0, -50%) var(--about-accordion-icon-transform);
        transition: all $transition-duration $transition-function;

        :checked ~ [class*="__label"] & {
          --about-accordion-icon-opacity: 0;
        }
      }

      /* stylelint-disable-next-line */
      &::after {
        --about-accordion-icon-transform: rotate(90deg);
      }
    }

    &:not(:first-child) {
      margin-top: var(--about-accordion-item-margin-top);
    }
  }
}
