// Import variables
@use 'variables' as *;

// Import mixins
@use '_helpers/mixins' as *;

// Import styles
@use '_base/forms' as *;
@use '_base/typography' as *;
@use '_components/logo' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Document */
html {
  overflow-x: clip;
  text-size-adjust: 100%;
  height: 100%;
}

/* Sections */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $color-primary;
  background: $background-primary;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: $font-family-body;
  font-size: $font-size-base;
  line-height: $font-height-xl;
  overflow-x: clip;
  overflow-wrap: anywhere;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > * {
    flex: 0 0 auto;
  }

  &:not(&:has(.header__inner--filled)) {
    main {
      margin-top: var(--top-bar-height, 0);
    }
  }
}

/* Container styles */
.container {
  max-width: $max-width;
  width: 100%;
  padding: 0 $horizontal-padding-sm;
  margin: 0 auto;

  @include media-up(xl) {
    padding: 0 $horizontal-padding-lg;
  }
}

/* Text styles */
.tagline {
  display: inline-block;
  vertical-align: top;
  font-family: $font-family-tagline;
  font-weight: $font-weight-semibold;
  line-height: $font-height-lg;
  font-size: $font-size-tagline;
  color: $color-outline;
  margin: 0 0 20px;

  @include media-up(md) {
    margin: 0 0 16px;
  }
}

/* Image optimization */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.image {
  --image-opacity: 1;

  &-placeholder {
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
    will-change: opacity;
    transition: opacity $transition-duration $transition-function;
    backface-visibility: hidden;
  }

  &-wrapper {
    display: block;
    contain: style;
    height: 100%;

    &[data-aspect-ratio] {
      aspect-ratio: attr(data-aspect-ratio);

      > * {
        @supports not (aspect-ratio: 1) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      &::before {
        @supports not (aspect-ratio: 1) {
          content: '';
          display: block;
          padding-bottom: calc(100% / var(--aspect-ratio, 1));
        }
      }
    }

    &[data-intrinsic-width][data-intrinsic-height] {
      contain-intrinsic-size: attr(data-intrinsic-width px) attr(data-intrinsic-height px);
    }

    &:has(.image-placeholder) {
      position: relative;
      content-visibility: auto;

      .image-main {
        will-change: opacity;
        opacity: var(--image-opacity);

        &.hidden {
          --image-opacity: 0;
        }

        &.loaded {
          --image-opacity: 1;

          transition: opacity $transition-duration $transition-function;
        }
      }
    }
  }
}

/* The first section critical styles */
#main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

/* Modifier states */
.overflow-hidden {
  overflow: clip;
}

[hidden] {
  display: none;
}
