// Import variables
@use 'variables' as *;

// Import mixins
@use '_helpers/mixins' as *;

// Import components
@use '_components/carousel' as *;

.images {
  --images-item-indent: 20px;

  &__wrapper {
    --images-content-justify: var(--images-content-alignment, flex-start);
    --images-content-text-justify: var(--images-content-text-alignment, left);
    --section-padding-bottom: var(--padding-bottom-mobile, 16px);
    --section-padding-top: var(--padding-top-mobile, 16px);

    color: $color-primary;
    background: $background-primary;
    text-align: var(--images-content-text-justify);

    @include media-up(md) {
      --images-layout: repeat(var(--images-layout-desktop, 2), 1fr);
      --section-padding-bottom: var(--padding-bottom-desktop, 40px);
      --section-padding-top: var(--padding-top-desktop, 40px);
    }

    &--padding-top {
      &:not(:empty) {
        padding-top: var(--section-padding-top);
      }
    }

    &--padding-bottom {
      &:not(:empty) {
        padding-bottom: var(--section-padding-bottom);
      }
    }
  }

  &__content {
    @include flexbox(
      $align: var(--images-content-justify),
      $direction: column
    );
  }

  &__heading {
    margin: var(--images-item-indent) 0 0;

    &:first-child {
      --images-item-indent: 0;
    }
  }

  &__tagline {
    margin: var(--images-item-indent) 0 0;

    &:first-child {
      --images-item-indent: 0;
    }
  }

  &__description {
    &:not(:first-child) {
      margin-top: var(--images-item-indent);
    }

    * {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__list {
    margin-top: var(--images-item-indent);
    width: 100%;
  }

  &__image {
    width: auto;
    margin: 0 auto;
  }
}
