// Import variables
@use 'variables' as *;

// Import mixins
@use '_helpers/mixins' as *;

// Import components
@use '_components/carousel' as *;

.images {
  --images-item-indent: 20px;
  --images-list-margin: 60px;
  --images-list-max-height: none;

  @include media-up(md) {
    --images-list-margin: 80px;
  }

  &__wrapper {
    --images-content-justify: var(--images-content-alignment, flex-start);
    --images-content-text-justify: var(--images-content-text-alignment, left);
    --images-image-first-child-grid-column: 1;
    --images-image-first-child-grid-row: auto;
    --images-image-forth-child-grid-column: 1;
    --images-image-forth-child-grid-row: auto;
    --images-image-forth-child-position: static;
    --images-image-height: auto;
    --images-image-holder-height: 100%;
    --images-image-object-fit: contain;
    --images-image-second-child-grid-column: 1;
    --images-image-second-child-position: static;
    --images-image-second-child-grid-row: auto;
    --images-image-shadow: 0px 0px 0px 0px transparent;
    --images-image-third-child-grid-column: 1;
    --images-image-third-child-position: static;
    --images-image-third-child-grid-row: auto;
    --images-image-width: auto;
    --images-image-wrapper-indent: 0;
    --images-list-grid-columns: 1fr;
    --images-list-grid-flow: inherit;
    --images-list-grid-gap: var(--images-item-indent);
    --images-list-grid-row: auto;
    --images-list-position: static;
    --section-padding-bottom: var(--padding-bottom-mobile, 16px);
    --section-padding-top: var(--padding-top-mobile, 16px);

    color: $color-primary;
    background: $background-primary;
    text-align: var(--images-content-text-justify);

    @include media-up(md) {
      --images-image-height: 100%;
      --images-image-object-fit: cover;
      --images-image-width: 100%;
      --images-layout: repeat(var(--images-layout-desktop, 2), 1fr);
      --images-list-grid-gap: 30px;
      --section-padding-bottom: var(--padding-bottom-desktop, 40px);
      --section-padding-top: var(--padding-top-desktop, 40px);
    }

    &--padding-top {
      &:not(:empty) {
        padding-top: var(--section-padding-top);
      }
    }

    &--padding-bottom {
      &:not(:empty) {
        padding-bottom: var(--section-padding-bottom);
      }
    }
  }

  &__content {
    @include flexbox(
      $align: var(--images-content-justify),
      $direction: column
    );
  }

  &__heading {
    margin: var(--images-item-indent) 0 0;

    &:first-child {
      --images-item-indent: 0;
    }
  }

  &__tagline {
    margin: var(--images-item-indent) 0 0;

    &:first-child {
      --images-item-indent: 0;
    }
  }

  &__description {
    &:not(:first-child) {
      margin-top: var(--images-item-indent);
    }

    * {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__list {
    @include grid(
      $auto-flow: var(--images-list-grid-flow),
      $columns: var(--images-list-grid-columns),
      $gap: var(--images-list-grid-gap),
      $rows: var(--images-list-grid-row)
    );

    margin-top: var(--images-list-margin);
    max-height: var(--images-list-max-height);
    position: var(--images-list-position);
    width: 100%;

    &[style*="--images-image-count: 2"] {
      @include media-up(md) {
        --images-image-first-child-grid-column: 1;
        --images-image-first-child-grid-row: 1;
        --images-image-second-child-grid-column: 2;
        --images-image-second-child-grid-row: 1;
        --images-list-grid-columns: repeat(2, 1fr);
        --images-list-grid-row: 1fr;
      }
    }

    &[style*="--images-image-count: 3"] {
      @include media-up(md) {
        --images-image-first-child-grid-column: 1;
        --images-image-first-child-grid-row: 1;
        --images-image-second-child-grid-column: 2;
        --images-image-second-child-grid-row: 1;
        --images-image-third-child-grid-column: 3;
        --images-image-third-child-grid-row: 1;
        --images-list-grid-columns: repeat(3, 1fr);
        --images-list-grid-row: 1fr;
      }

      [style*="--images-layout-desktop"] & {
        @include media-up(md) {
          --images-list-margin: 70px;
        }
      }
    }

    &[style*="--images-image-count: 4"] {
      @include media-up(md) {
        --images-image-first-child-grid-column: 1;
        --images-image-first-child-grid-row: 1 / span 6;
        --images-image-forth-child-grid-column: 2;
        --images-image-forth-child-grid-row: 5 / span 6;
        --images-image-second-child-grid-column: 2;
        --images-image-second-child-grid-row: 1 / span 4;
        --images-image-third-child-grid-column: 1;
        --images-image-third-child-grid-row: 7 / span 4;
        --images-list-grid-columns: repeat(2, minmax(0, 1fr));
        --images-list-grid-flow: dense;
        --images-list-grid-row: repeat(10, minmax(0, 1fr));
        --images-list-max-height: 50vw;
      }

      [style*="--images-layout-desktop"] & {
        @include media-up(md) {
          --images-list-margin: 70px;
        }
      }
    }

    [style*="--images-layout-desktop"] & {
      @include media-up(md) {
        --images-image-first-child-grid-column: 1;
        --images-image-first-child-grid-row: 1;
        --images-image-forth-child-grid-column: 1;
        --images-image-forth-child-grid-row: 1;
        --images-image-forth-child-inset: auto 11.6% -3.2% auto;
        --images-image-forth-child-max-width: 26.5vw;
        --images-image-forth-child-position: absolute;
        --images-image-height: auto;
        --images-image-holder-height: auto;
        --images-image-object-fit: contain;
        --images-image-overflow: clip;
        --images-image-second-child-grid-column: 1;
        --images-image-second-child-grid-row: 1;
        --images-image-second-child-inset: 3.2% auto auto -2.9%;
        --images-image-second-child-max-width: 28vw;
        --images-image-second-child-position: absolute;
        --images-image-shadow: 13px 25px 29px 0 #{$color-border};
        --images-image-third-child-grid-column: 1;
        --images-image-third-child-grid-row: 1;
        --images-image-third-child-inset: -7.5% 3.9% auto auto;
        --images-image-third-child-max-width: 30.4vw;
        --images-image-third-child-position: absolute;
        --images-image-width: auto;
        --images-image-wrapper-indent: 50px;
        --images-list-grid-columns: 1fr;
        --images-list-grid-row: 1fr;
        --images-list-margin: 20px;
        --images-list-max-height: none;
        --images-list-position: relative;
      }

      @include media-up(xxl) {
        --images-image-forth-child-max-width: 508px;
        --images-image-second-child-max-width: 537px;
        --images-image-third-child-max-width: 583px;
      }
    }
  }

  &__image {
    margin: 0 auto;
    border-radius: $border-radius-block;
    width: var(--images-image-width);
    height: var(--images-image-height);
    object-fit: var(--images-image-object-fit);
    box-shadow: var(--images-image-shadow);

    &-wrapper {
      padding: var(--images-image-wrapper-indent);
    }

    &-holder {
      height: var(--images-image-holder-height);

      &:only-child {
        --images-image-height: auto;
        --images-image-object-fit: contain;
        --images-image-width: auto;
      }

      &:first-child {
        grid-column: var(--images-image-first-child-grid-column);
        grid-row: var(--images-image-first-child-grid-row);
      }

      &:nth-child(2) {
        position: var(--images-image-second-child-position);
        inset: var(--images-image-second-child-inset);
        max-width: var(--images-image-second-child-max-width);
        grid-column: var(--images-image-second-child-grid-column);
        grid-row: var(--images-image-second-child-grid-row);
        overflow: var(--images-image-overflow);
      }

      &:nth-child(3) {
        position: var(--images-image-third-child-position);
        inset: var(--images-image-third-child-inset);
        max-width: var(--images-image-third-child-max-width);
        grid-column: var(--images-image-third-child-grid-column);
        grid-row: var(--images-image-third-child-grid-row);
        overflow: var(--images-image-overflow);
      }

      &:nth-child(4) {
        position: var(--images-image-forth-child-position);
        inset: var(--images-image-forth-child-inset);
        max-width: var(--images-image-forth-child-max-width);
        grid-column: var(--images-image-forth-child-grid-column);
        grid-row: var(--images-image-forth-child-grid-row);
        overflow: var(--images-image-overflow);
      }
    }
  }
}
