// Import variables
@use 'variables' as *;

// Import mixins
@use '_helpers/mixins' as *;

.marquee {
  --marquee-animation-speed: var(--animation-speed-mobile, 20s);

  @include media-up(md) {
    --marquee-animation-speed: var(--animation-speed-desktop, 10s);
  }

  &__wrapper {
    --section-padding-bottom: var(--padding-bottom-mobile, 16px);
    --section-padding-top: var(--padding-top-mobile, 16px);

    position: relative;
    color: $color-primary;
    background: $background-primary;
    overflow: hidden;

    @include media-up(md) {
      --section-padding-bottom: var(--padding-bottom-desktop, 40px);
      --section-padding-top: var(--padding-top-desktop, 40px);
    }

    &--padding-top {
      &:not(:empty) {
        padding-top: var(--section-padding-top);
      }
    }

    &--padding-bottom {
      &:not(:empty) {
        padding-bottom: var(--section-padding-bottom);
      }
    }
  }

  &__track {
    @include flexbox;

    width: max-content;
    animation: marquee var(--marquee-animation-speed) linear infinite;
    will-change: transform;
  }

  &__content {
    @include flexbox(
      $align: center,
      $gap: 48px
    );

    margin-right: 48px;
  }

  &__text {
    white-space: nowrap;
  }
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-12.5%, 0, 0);
  }
}
